<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.2.xsd">
<!-- ==================================================== BusinessService -->
<!-- ログインビジネスサービス-->
<!--
<bean id="loginService" class="jp.co.axiz.app.service.impl.DefaultLoginService">
<property name="usrMstDao" ref="usrMstDao" />
</bean>
-->
<!-- ユーザマスタ(USR_MST)DAO -->
<!--
<bean id="usrMstDao" class="jp.co.axiz.app.dao.impl.DefaultUsrMstDao" />
-->
<context:component-scan base-package="jp.co.axiz.app" />
</beans>